@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input {
  width: 60%;
  border: none;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.5;
  padding: 20px 20px;
  outline: none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 48px;
}

.purple {
  color: #6415ff;
}

.bold {
  font-weight: 700;
}

img {
  width: 100%;
  height: 100%;
  height: auto;
}

nav {
  height: 80px;
}

.container {
  padding: 80px 0;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 48px;
}

.nav__container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--list {
  display: flex;
  list-style-type: none;
}

.nav__link {
  list-style-type: none;
}

.nav__link--anchor {
  margin: 0 20px;
  font: 14px;
  font-weight: 500;
  color: #243e36;
}

.nav__link--anchor:hover {
  color: #5d3eff;
  text-decoration: underline 3px #5d3eff;
  text-underline-offset: 8px;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
}

.menu__backdrop {
  position: fixed;
  background-color: #ffffff;
  border: #e4e8ec solid;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 24px 16px;
  padding: 36px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 50vh;
  overflow: scroll;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  margin: 8px 0;
  padding-bottom: 4px;
  list-style-type: none;
}

.menu__link {
  font-size: 18px;
  color: #1a202c;
  font-weight: 500;
  letter-spacing: 0.4px;
  transition: 800ms ease;
}

.menu__link--purple:hover {
  color: #5d3eff;
  text-decoration: underline 2px #5d3eff;
  text-underline-offset: 8px;
  transition: 300ms ease;
}

.menu__link--sign-up {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 50px;
  color: white;
  transition: 300ms ease;
  margin-top: 16px;
}

.menu__sign-up {
  margin-top: 20px;
}

.menu__link--sign-up:hover {
  background-color: #5d3eff;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  font-size: 28px;
  color: #a0aec0;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.logo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__link:hover {
  color: #5d3eff;
}

.logo__nav--text {
  font-weight: 700;
  font-size: 24px;
  margin-right: 12px;
  color: #243e36;
}

.nav__link--seperate {
  display: flex;
  margin-left: 24px;
}

.nav__link--sign-up {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 50px;
  color: white;
  transition: 300ms ease;
}

.nav__link--sign-up:hover {
  background-color: #5d3eff;
}

/* 

LANDING 

*/

.items__wrap {
  display: flex;
}

.partners__text {
  font: 14px;
  color: #a0aec0;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: 500;
}

.header__description {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.img__office {
  width: 60%;
}

.header__description--para {
  font-size: 16px;
  color: #243e36;
  margin: 32px 0;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 9999px;
  font-size: 18px;
  color: white;
  transition: 300ms ease;
  cursor: pointer;
  /* text-align: inherit; */
  border: none;
}

.btn:hover {
  background-color: #5d3eff;
}

form {
  border: 2px solid #8b97a7;
  width: 100%;
  height: 15%;
  border-radius: 9999px;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  transition: 300ms ease;
}

form:hover {
  --tw-border-opacity: 1;
  border-color: #5d3eff
}

form:focus {
  --tw-border-opacity: 2;
  border-color: rgb(100 21 255 / var(--tw-border-opacity));
  outline: transparent rgb(160 174 192 / var(--tw-border-opacity)) solid 2px;
  outline-offset: 2px;
}

.img__partners {
  margin-top: 16px;
  color: #a0aec0;
  opacity: 0.5;
  padding-right: 32px;
  width: 100%;
  height: 50%;
}

.img__wrapper {
  margin-top: 80px;
}

/*

FEATURES

*/

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  width: calc(100% / 3) - 0.1px;
  padding: 32px 8px;
  margin: 0 4px;
}

.service__description {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0 16px;
}

.service__img {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6415ff;
  border: 1px solid rgb(226, 232, 240);
  width: 40px;
  padding: 28px;
  height: 40px;
  border-radius: 50%;
}

.features__para {
  max-width: 260px;
  text-align: left;
  margin-top: 16px;
}

.features__subtitle {
  font-weight: 700;
  font-size: 22px;
}

.section__title--h2 {
  font-weight: 900;
  text-align: center;
  color: #243e36;
}

.small__subtitle {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  letter-spacing: 2px;
}

.features__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title__description {
  color: #7c8ba1;
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: 16px 0;
}

/* 

QUALITY WORK 

*/

.quality-work__wrapper {
  display: flex;
}

.qw__description {
  width: 49%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.qw__img--wrapper {
  width: 49%;
}

.section__title--qw {
  margin-top: 16px;
  text-align: left;
}

.qw__para {
  margin-top: 16px;
  font-size: 18px;
  color: #7c8ba1;
}

.qw__button--wrapper {
  display: flex;
  align-items: center;
}

.qw__button {
  margin-top: 32px;
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 9999px;
  font-size: 18px;
  color: white;
  transition: 300ms ease;
  cursor: pointer;
  /* text-align: inherit; */
  border: none;
}

.small__subtitle--purple {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

.img__qw {
  border: 1px solid rgb(226, 232, 240);
  max-width: 100%;
}

/* 

GET STARTED 

*/

.get-started__wrapper {
  display: flex;
  justify-content: space-between;
}

.get-started__img--wrapper {
  padding-top: 50px;
  width: 50%;
  height: 50%;
}

.laptop__img {
  max-width: 100%;
  height: auto;
}

.get__started__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.section__title--gs {
  margin-top: 16px;
  color: #243e36;
}

.list__info--wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.get-started__list {
  counter-reset: item;
  list-style-type: none;
  margin-top: 48px;
}

.get-started__description {
  display: flex;
  list-style-position: inherit;
  margin-top: 32px;
}
.get-started__description::before {
  content: counter(item, decimal-leading-zero) "";
  counter-increment: item;
  font-size: 36px;
  color: #cbd5e0;
}

.list__sub-title {
  font-size: 20px;
  color: #243e36;
}

.list__para {
  font-size: 14px;
  margin-top: 12px;
  max-width: 320px;
  color: #718096;
  line-height: 2;
}

/* 

PLANS 

*/

.pricing__main-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.small__sub-title--purple {
  font-size: 16px;
  letter-spacing: 1.6px;
}

.section__title--pricing {
  margin-top: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.pricing__para {
  margin-top: 16px;
  max-width: 576px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
}

.plans {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.plan {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid rgb(226, 232, 240);
  margin: 64px 32px 0 0;
  padding: 8px 32px 0;
  border-radius: 8px;
}

.plan__features {
  text-align: center;
  padding: 32px;
  margin: 0 -32px;
  border-top: solid rgb(226, 232, 240);
  border-bottom: solid rgb(226, 232, 240);
  width: 125%;
}

.plan__title {
  font-size: 20px;
  font-weight: 700;
  color: #1a202c;
}

.price__title {
  margin: 12px 0;
  font-size: 48px;
  font-weight: 700;
  color: #1a202c;
}

.plan__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.time-frame {
  color: #a0aec0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
}

.plan__feature--title {
  font-size: 16px;
  font-weight: 500;
  color: #718096;
  margin-top: 20px;
}

.button__container {
  padding: 32px;
}

.plan__btn {
  width: 100%;
  padding: 16px 32px;
  color: #f7fafc;
  font-size: 14px;
  font-weight: 700;
  border-radius: 9999px;
  letter-spacing: 0.8px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border: none;
}

.plan__btn:hover {
  transform: scale(1.03);
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --tw-shadow-colored: 0 20px 25px -5px var (--tw-shadow-color),
    0 10px 10px -5px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: all 300ms ease;
}

.plan__colour--top {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.personal__btn {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: #f7fafc;
}

.business__btn {
  background-color: rgb(247 250 252);
  color: #6415ff;
}

.business__background {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  background-color: rgb(100 21 255);
}

.business__title {
  color: #f7fafc;
}

.business__price {
  color: #f7fafc;
}

.business__time-frame {
  color: #edf2d7;
}

.business__sub-title {
  color: #f7fafc;
}

.business__ft {
  color: #e2e8f0;
}

.enterprise__btn {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.colour__top--red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/* 

FOOTER 

*/

footer {
  background-color: #6415ff;
}

.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  align-items: center;
  margin-top: 48px;
  padding: 0px;
}

.link__lists {
  margin-top: 24px;
}

.link__list {
  list-style-type: none;
  font-size: 14px;
  color: #f7fafc;
  margin-top: 16px;
  padding-left: 16px;
}

.link__product {
  padding-right: 28px;
}

.link__press {
  padding-right: 20px;
}

.link__team {
  padding-left: 28px;
}

.link__legal {
  padding-left: 56px;
}

.link__list:hover {
  text-decoration: underline 3px #f7fafc;
  text-underline-offset: 8px;
}

.link__tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  padding: 0px;
}

.link__section-title {
  color: #f7fafc;
  font-size: 16px;
}

.link__name {
  color: #f7fafc;
  font-size: 14px;
  margin-top: 12px;
  padding-bottom: 4px;
}

.border-line__seperate {
  border-bottom: solid;
  border-color: rgb(116 44 255 / var(--tw-border-opacity));
  margin: 64px 0;
  opacity: 15%;
  border-color: rgb(243 248 255);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__text--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  width: 32px;
}

.logo-text {
  margin-left: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #f7fafc;
}

.footer__copyright {
  color: #cbd5e0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.social__logos {
  display: flex;
}

.footer__social--img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f7fafc;
  border: none;
  border-radius: 9999px;
  width: 32px;
  height: 32px;
  background-color: #f7fafc;
  transition: 300ms all ease;
}

.footer__social--img:not(:last-child) {
  margin-right: 16px;
}

.footer__social--img:hover {
  color: #1a202c;
  opacity: 0.8;
}

/* BURGER MENU */

@media (max-width: 868px) {
  .nav__link--list {
    display: none;
  }

  .btn__menu {
    display: block;
  }
}

/* Transition from large desktop to tablets */

@media (max-width:1188px) {
  .service {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46%;
  }
}

@media (max-width: 1080px) {
  .items__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__description {
    width: 70%;
    text-align: center;
  }
  .header__description--para {
    text-align: center;
  }

  .img__partners {
    padding-right: 0px;
    margin-bottom: 32px;
  }

  /* FEATURES */

  .service {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
  }

  /* QUALITY WORK */

  .qw__description {
    width: 100%;
    text-align: center;
  }

  .section__title--qw {
    text-align: center;
  }

  .qw__para {
    font-size: 16px;
  }

  .qw__button--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .qw__button--wrapper {
    margin-bottom: 32px;
  }
  .quality-work__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* PLANS */
  .plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .plan {
    width: 40%;
    margin-right: 0px;
  }

  .section__title--pricing {
    text-align: center;
  }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 768px) {


  .items__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__description {
    width: 90%;
  }

  .header__description--para {
    text-align: center;
  }

  .partners__text {
    text-align: center;
  }

  .img__partners {
    padding-right: 0px;
    margin-bottom: 32px;
  }

  /* FEATURES */

  .service {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
  }

  /* QUALITY WORK */

  .qw__description {
    width: 100%;
    text-align: center;
  }

  .section__title--qw {
    text-align: center;
  }

  .qw__para {
    font-size: 16px;
  }

  .qw__button--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .qw__button--wrapper {
    margin-bottom: 32px;
  }
  .quality-work__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* GET STARTED */
  .get-started__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .get-started__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list__info--wrapper {
    text-align: center;
    margin-left: 0px;
  }

  .small__subtitle--purple {
    text-align: center;
  }

  .get-started__img--wrapper {
    margin-bottom: 28px;
  }

  /* PLANS */
  .plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .plan {
    width: 50%;
    margin-right: 0px;
  }

  .section__title--pricing {
    text-align: center;
  }

  /* FOOTER */

  .links {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .link {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    align-items: flex-start;
    margin-top: 48px;
    padding: 0px;
  }

  .link__list {
    padding-left: 0px;
  }

  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social__logos {
    margin-top: 32px;
  }

  .footer__copyright {
    margin-top: 32px;
  }
}

@media (max-width: 736px) {
  /* FEATURES */

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .service__description {
    text-align: center;
    margin-left: 0px;
    margin-top: 16px;
  }

  .features__para {
    text-align: center;
  }
}

@media (max-width: 623px) {
  /* PLANS */
  .plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .plan {
    width: 70%;
    margin-right: 0px;
  }

  .section__title--pricing {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .plan {
    width: 80%;
    margin-right: 0;
  }

  .section__title--pricing {
    text-align: center;
  }

  /* LANDING */

  .header__description {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* GET-STARTED */

  .section__title--gs {
    text-align: center;
  }

  /* FOOTER */

  .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .link {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    padding: 0px;
  }

  .link__list {
    padding: 0px;
  }

  .link__team {
    padding: 0;
  }

  .link__lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 515px) {
  .link {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    padding: 0px;
  }
}

@media (max-width: 486px) {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
  }

  .header__description {
    display: flex;
    flex-direction: column;
    width: 130%;
  }

  .btn {
    font-size: 16px;
  }

  .img__office {
    width: 80%;
  }

  .link {
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    padding: 0px;
  }

}

@media(max-width:450px) {
  .plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .plan {
    width: 100%;
    margin-right: 0;
  }
}

@media(max-width:350px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

 .price__title {
  font-size: 36px;
 }
 .btn {
  position: absolute;
  bottom: 120px;
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 9999px;
  font-size: 18px;
  color: white;
  transition: 300ms ease;
  cursor: pointer;
  /* text-align: inherit; */
  border: none;
}

.header__description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.5;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  outline: none;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.button__container {
  padding: 32px 16px;
}

.plan__features {
  text-align: center;
  padding: 32px;
  margin: 0 -32px;
  border-top: solid rgb(226, 232, 240);
  border-bottom: solid rgb(226, 232, 240);
  width: 140%;
}


}
